@page
@model asp_geosystems_store.PAges.AboutModel
@{
    ViewData["Title"] = "About Geosystems";
}

<section id="main">
    <div class="bg-white">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <h1>About Geosystems</h1>
    <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae odio exercitationem, tempora delectus nam quisquam officiis? Eaque delectus consectetur cupiditate libero, ipsam dolorem aliquid commodi veniam assumenda vitae ex blanditiis?
    </p>
    </div>


    </div>

</section>