@page
@model asp_geosystems_store.PAges.AboutModel
@{
    ViewData["Title"] = "About Geosystems";
}

<section id="main">
    <h1>About Geosystems</h1>
    <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae odio exercitationem, tempora delectus nam quisquam officiis? Eaque delectus consectetur cupiditate libero, ipsam dolorem aliquid commodi veniam assumenda vitae ex blanditiis?
    </p>
</section>